.login-signup-section {
    border: 8px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
}

.toggle-button {
    background-color: black;
    padding: 10px 0;
}

.toggle-button button {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.toggle-button button:hover {
    background-color: #333;
}