.login-signup-section {
    border: 8px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
}
.user-info, .menu-bar {
    text-align: center;
    margin-bottom: 20px;
}

.menu-button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #555;
}

.toggle-button {
    background-color: black;
    padding: 10px 0;
    text-align: center;
}

.toggle-button button {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.toggle-button button:hover {
    background-color: #333;
}